// main : ../template.scss
@import "../fonts/Montserrat";

.alerts {
    position: relative;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0 .35rem 0 1rem;

    height: 40px;
    width: 100vw;

    border-top-width: 1px;
    border-top-style: solid;

    z-index: 2;

    .alert-info,
    .alert-success,
    .alert-failure {
        position: absolute;
        display: flex;
        align-items: center;

        height: 100%;
        width: 100%;

        font-family: "Montserrat", sans-serif;
        font-size: .6rem;

        .alert-icon {
            margin-right: 1rem;

            width: 16px;
            height: 16px;
        }
    }

    .alert-info .alert-icon {
        color: $color-blue;
        fill: $color-blue;
    }

    .alert-success .alert-icon {
        color: $color-green;
        fill: $color-green;
    }

    .alert-failure .alert-icon {
        color: $color-red;
        fill: $color-red;
    }
}
