// main : ../template.scss

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat.woff') format('woff'),
    url('../fonts/Montserrat.ttf') format('truetype');
}

.app {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    &-header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        align-items: center;
        justify-content: center;

        height: 50px;
        width: 100vw;

        border-bottom-width: 1px;
        border-bottom-style: solid;

        -webkit-app-region: drag;

        &-controls,
        &-buttons,
        &-title {
            display: flex;
        }

        &-controls {
            justify-self: start;
        }

        &-title {
            justify-self: center;

            font-family: "Montserrat", sans-serif;
            font-size: .75rem;
        }

        &-buttons {
            justify-self: end;

            margin: 0 11px;
        }
    }

    &-content {
        display: flex;
        flex: 1 0 auto;

        overflow-x: hidden;
        overflow-y: auto;

        &-main {
            flex: 1;

            .is-preview-hidden {
                .Pane1 { width: 100% !important; }
                .Pane2 { width: 0    !important; }
            }
        }
    }
}
