.app {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    &-header {
        display: grid;
        grid-template-areas: "a b c";
        grid-template-columns: 1fr auto 1fr;

        height: auto;
        width: 100vw;

        -webkit-app-region: drag;

        &-controls,
        &-buttons,
        &-title {
            display: flex;
            outline: none;
        }
    }

    &-content {
        display: flex;
        flex: 1 0 auto;

        overflow-x: hidden;
        overflow-y: auto;

        &-main {
            flex: 1;

            .is-preview-hidden {
                .Pane1 { width: 100% !important; }
                .Pane2 { width: 0 !important; }
            }
        }
    }
}
