.controls-container {
    display: flex;

    margin: 0 18px;
    padding: 0;

    .control-close,
    .control-maximize,
    .control-minimize {
        content: "";

        width: 14px;
        height: 14px;

        margin: 0 10px 0 0;

        border-width: 0;
        border-radius: 100%;

        transition: all 100ms ease;

        -webkit-app-region: no-drag;
    }

    .control-close:hover    { background-color: $color-red; }
    .control-maximize:hover { background-color: $color-green; }
    .control-minimize:hover { background-color: $color-yellow; }
}
