.editor-preview {
    width: 100%;
    height: calc(100vh - 90px);

    overflow-x: hidden;
    overflow-y: auto;

    font-size: 1rem;
    line-height: 2rem;

    padding: 1rem 2.5rem;
    margin: 0;

    p {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", Helvetica, sans-serif;
    }

    hr {
        border-width: 0;

        height: 1px;
        width: 100%;

        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    a {
        color: inherit;

        text-transform: none;
        text-decoration: underline;
    }

    abbr {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }

    .block-embed {
        width: 100%;
        height: 60%;
        max-height: 50vh;

        iframe {
            display: block;

            width: 85%;
            height: 100%;

            margin: 3rem auto;
            padding: 0;
        }
    }

    .contains-task-list {
        list-style: none;

        margin: 0 0 1rem;
        padding: 0;

        .task-list-item {
            line-height: 30px;

            .task-list-item-checkbox {
                -webkit-appearance: button;

                position: relative;
                display: inline-block;
                vertical-align: middle;

                padding: 0;
                margin: 0 1rem;

                width: 22px;
                height: 22px;

                border-width: 2px;
                border-style: solid;
                border-color: $color-green;
                border-radius: 100%;

                &[checked] {
                    &:after {
                        position: absolute;
                        top: 0; left: 0;

                        content: "✓";
                        color: $color-green;

                        width: 18px;
                        height: 18px;

                        line-height: 18px;
                        text-align: center;

                        font-size: 10px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}
