.formula {
    &-preview {
        min-height: 50px;
    }

    &-editor {
        &,
        .CodeMirror {
            height: 105px;
        }

        &.is-full,
        &.is-full .CodeMirror {
            height: 285px;
        }
    }

    &-editor {
        padding: 0;
        margin: 7px;

        overflow-x: auto;
        overflow-y: auto;
    }

    &-help {
        &-group {
            padding: 7px;

            &-name {
                padding: .25rem 0 .75rem;
            }

            &-symbols {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &-symbol {
            display: inline-flex;

            margin: 1px;
            padding: .25rem .5rem;

            cursor: pointer;

            .katex-display {
                margin: 0;
            }
        }
    }
}
