.editor-preview {
    width: 100%;
    height: calc(100vh - 50px);

    overflow-x: auto;
    overflow-y: auto;

    padding: 1rem;
    margin: 0;

    pre {
        margin: 1rem 0;
        padding: .5rem;

        overflow-x: scroll;
        overflow-y: scroll;

        code {
            padding: 0;
            margin: 0;

            // Resizing bug:
            width: 0;
        }
    }
}
