&.is-linux,
&.is-darwin {
  .controls-container {
    .control-close,
    .control-maximize,
    .control-minimize {
      border-width: 0;
      border-radius: 100%;
    }

    .control-close {
      background-color: $color-red;

      &:hover { background-color: darken($color-red, 10%); }
    }

    .control-maximize {
      background-color: $color-green;

      &:hover { background-color: darken($color-green, 10%); }
    }

    .control-minimize {
      background-color: $color-yellow;

      &:hover { background-color: darken($color-yellow, 10%); }
    }
  }
}

&.is-windows {
  .control-close,
  .control-maximize,
  .control-minimize {
    border-width: 0;
    border-radius: 0;
  }

  .control-close {
    background-color: $color-red;

    &:hover { background-color: $color-red; }
  }

  .control-maximize {
    background-color: rgba($color-green, 0);

    &:hover { background-color: $color-green; }
  }

  .control-minimize {
    background-color: rgba($color-yellow, 0);

    &:hover { background-color: $color-yellow; }
  }

  .control-close,
  .control-close:hover,
  .control-maximize:hover,
  .control-minimize:hover {
    color: white;
  }
}
