.controls-container {
    .control-close,
    .control-maximize,
    .control-minimize {
        border-width: 0;
        border-radius: 100%;
    }

    .control-close    { background-color: $color-red; }
    .control-maximize { background-color: $color-green; }
    .control-minimize { background-color: $color-yellow; }

    .control-close:hover    { background-color: darken($color-red, 10%) !important; }
    .control-maximize:hover { background-color: darken($color-green, 10%) !important; }
    .control-minimize:hover { background-color: darken($color-yellow, 10%) !important; }
}
