.formula {
    &-editor {
        border-width: 1px;
        border-style: solid;
        border-color: $color-border-light;
    }

    &-help {
        &-symbol {
            border-width: 1px;
            border-style: solid;
            border-color: $color-border-light;
        }
    }
}
