.editor-formula {
  &-editor {
    border-width: 1px;
    border-style: solid;
    border-color: $color-border-light;
  }

  &-help {
    &-group {
      border-width: 1px 0 0;
      border-style: solid;
      border-color: $color-border-light;
    }

    &-symbol {
      border-width: 1px;
      border-style: solid;
      border-color: $color-border-light;
      background-color: $color-background;
    }
  }
}
