.app {
    &-header {
        height: 35px;

        &-title {
            justify-content: center;
            align-items: center;
        }

        &-buttons {
            height: 25px;

            margin: 0 7px;
            padding: 0;
        }

        &-controls  { grid-area: c; justify-self: end; }
        &-buttons   { grid-area: a; justify-self: start; }
        &-title     { grid-area: b; justify-self: center; }
    }
}
