// main : ../template.scss

.alerts {
    display: flex;
    align-items: center;

    position: fixed;
    left: 0; bottom: 0;

    margin: 0;
    padding: 0 .35rem 0 1rem;

    height: 40px;
    width: 100%;

    background-color: #101010;
}

.alert-info,
.alert-success,
.alert-failure {
    display: flex;
    align-items: center;
    position: absolute;

    height: 100%;
    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-size: .5rem;

    .alert-icon {
        margin-right: 1rem;

        font-size: 1rem;
        font-weight: 900;
    }

    //padding: 0 1rem;

    //height: auto;
    //width: 400px;

    //border-radius: 3px;
    //opacity: .5;

    //font-size: 14px;
    //font-weight: normal;
}

.alert-info .alert-icon {
    color: #5959ff;
}

.alert-success .alert-icon {
    color: #33c74a;
}

.alert-failure .alert-icon {
    color: #fc615d;
}
