// main : ../template.scss

.app-content {
    display: flex;
    flex: 1;

    overflow-x: hidden;
    overflow-y: auto;

    .app-content-left,
    .app-content-right {
         flex: 0 0 20rem;
    }

    .app-content-left {
        // Put the block on the left:
        order: -1;
    }

    .app-content-main {
        flex: 1;

        .is-preview-hidden {
            .Pane1 {
                width: 100vw !important;
            }

            .Pane2 {
                width: 0 !important;
            }
        }
    }
}
