// main : ../template.scss

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    height: 50px;
    width: 100vw;

    border-bottom-width: 1px;
    border-bottom-style: solid;

    -webkit-app-region: drag;

    .app-header-buttons {
        display: flex;
        flex-direction: row;

        margin: 0 18px;
        padding: 0;
    }
}
