// main : ../template.scss

.app-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    height: 50px;
    width: 100vw;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-border-dark;

    -webkit-app-region: drag;
}
