// main : ../template.scss

.app {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 100vw;

    background-color: $color-background;
    color: $color-text-light;

    font-family: "Montserrat", sans-serif;
}
