// main : ../template.scss

.controls-container {
    display: flex;
    flex-direction: row;

    margin: 0 18px;

    .control-close,
    .control-maximize,
    .control-minimize {
        width: 14px;
        height: 14px;

        margin-right: 10px;

        background-color: $color-text-dark;
        border-radius: 100%;

        transition: all 100ms ease;

        content: "";
    }

    .control-close:hover {
        background-color: $color-red;
    }

    .control-maximize:hover {
        background-color: $color-green;
    }

    .control-minimize:hover {
        background-color: $color-yellow;
    }
}
