// main : ../template.scss

.geometry-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .geometry-tools {
        order: -1;
        display: flex;
        justify-content: space-between;

        padding: 0 .5rem 0 0;

        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .geometry-content {
        display: flex;
        flex: 1;

        .geometry-left,
        .geoemtry-right {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: space-between;

            padding: 0 0 .5rem 0;

            .geometry-group {
                flex-direction: column;
            }
        }

        .geometry-left {
            flex-basis: 45px;

            order: -1;

            border-right-width: 1px;
            border-right-style: solid;

            .geometry-group {
                width: 44px;
            }
        }

        .geometry-right {
            flex-basis: 200px;

            order: 1;

            border-left-width: 1px;
            border-left-style: solid;
        }

        .geometry-canvas {
            flex: 1;

            background-size: 150px 150px, 150px 150px, 15px 15px, 15px 15px;
            background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
            background-image: linear-gradient(rgba(grey, .35) 1px, transparent 1px),
                              linear-gradient(90deg, rgba(grey, .35) 1px, transparent 1px),
                              linear-gradient(rgba(grey, .05) 1px, transparent 1px),
                              linear-gradient(90deg, rgba(grey, .05) 1px, transparent 1px);

            cursor: crosshair;
        }
    }

    .geometry-group {
        position: relative;
        display: flex;

        justify-content: space-around;
        align-items: center;

        .geometry-icon {
            display: flex;
            align-items: center;

            width: 44px;
            height: 44px;

            cursor: pointer;
        }

        .geometry-color {
            border-width: 1px;
            border-style: solid;
            border-radius: 100%;

            width: 25px;
            height: 25px;

            &:first-of-type {
                position: relative;
                bottom: -10px;

                width: 28px;
                height: 28px;
            }
        }
    }

    .geometry-section {
        .geometry-group {
            margin: 0 0 10px;

            &:last-of-type {
                margin: 0;
            }
        }

        .geometry-section-title {
            padding: 0 0 0 1rem;

            height: 2rem;
            line-height: 2rem;

            font-size: .85rem;
            text-transform: lowercase;
        }

        .geometry-section-content {
            padding: 10px;

            .geometry-section-icon {
                display: flex;
                align-items: center;

                width: 50px;
                height: 50px;

                cursor: pointer;
            }
        }
    }
}

.geometry-color-picker {
    pointer-events: all !important;

    margin: 0 !important;
    padding: 0 !important;
    opacity: 1 !important;

    transition: none !important;
}
