{
  "presets" : [
    "react",
    [
      "env", {
        "targets": {
          "node": "current",
          "browser": "last Chrome version"
        }
      }
    ]
  ],

  "plugins" : [
    "add-module-exports",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
  ]
}
