{
  "presets": [
    "@babel/flow",
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
          "chrome": "71"
        }
      }
    ]
  ],

  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
