// main : ../template.scss

$color-background   : #101012;
$color-text-light   : #727272;
$color-text-dark    : #404040;

$color-red          : #d54343;
$color-blue         : #14a2ff;
$color-green        : #3ac748;
$color-yellow       : #fabc40;
