@import "./colors";
@import "./syntax";

.Resizer {
    background-color: $color-border-dark;
    border-color: transparent;
}

.CodeMirror,
.qilin-panel {
    background-color: $color-background;
    border-color: $color-border-dark;
    color: lighten($color-text-light, 10%);
}

.qilin-button,
.control-close,
.control-maximize,
.control-minimize {
    background-color: $color-text-dark;
    background-image: linear-gradient($color-text-dark, darken($color-text-dark, 3%));
}

.qilin-button {
    box-shadow: 0 -1px 0 rgba(white, .25), 0 1px 2px -1px rgba(black, .75);
}

.control-close:hover,
.control-maximize:hover,
.control-minimize:hover {
    background-image: none;
}

.app-content-icon.is-active > .qilin-icon,
.app-content-icon:hover > .qilin-icon {
    color: $color-text-light;
    fill: $color-text-light;
}

.qilin-icon {
    color: $color-text-dark;
    fill: $color-text-dark;
}

.qilin-button-icon {
    color: rgba(white, .5);
    fill: rgba(white, .5);

    &.is-active {
        color: white;
        fill: white;
    }
}

.editor-preview {
    color: lighten($color-text-light, 10%);

    hr {
        background-color: $color-text-dark;
    }

    p {
        opacity: .85;
    }
}

::selection,
.CodeMirror-selected {
    background-color: rgba(white, .05) !important;
    color: white !important;
}
