.app {
    &-header {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    &-content {
        &-pane {
            .Resizer {
                background-color: $color-border-dark;
            }
        }
    }
}
