&.is-linux,
&.is-darwin {
    .controls-container {
        .control-close,
        .control-maximize,
        .control-minimize {
            border-width: 0;
            border-radius: 100%;

            background-color: $color-border-light;
        }

        .control-close:hover    { background-color: $color-red; }
        .control-maximize:hover { background-color: $color-green; }
        .control-minimize:hover { background-color: $color-yellow; }
    }
}

&.is-windows {
    .control-close,
    .control-maximize,
    .control-minimize {
        border-width: 0;
        border-radius: 0;

        &:after {
            color: white;
            border-color: white;
        }
    }

    .control-close    { background-color: $color-red; }
    .control-maximize { background-color: transparent; }
    .control-minimize { background-color: transparent; }

    .control-close:hover    { background-color: $color-red; }
    .control-maximize:hover { background-color: $color-green; }
    .control-minimize:hover { background-color: $color-yellow; }
}
