.qilin-popup {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-border-dark;

    filter: drop-shadow(0 10px 10px rgba(black, .35))
            drop-shadow(0 0 1px rgba(black, .25));

    &-header {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $color-border-dark;
    }

    .qilin-button {
        background-image: none;
        box-shadow: none;
    }
}
