// main : ../../template.scss

.qilin-button {
    -webkit-appearance: none;

    min-width: 26px;
    min-height: 20px;

    margin: 7px;
    padding: 0;

    border-width: 0;
    border-radius: 4px;

    text-align: center;
    cursor: pointer;
    outline: none;

    .qilin-button-icon {
        vertical-align: middle;

        height: 14px;
        width: auto;

        transition: all 300ms ease;
    }
}
