// main : ../../template.scss

body {
    overflow-x: hidden;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
}

*, *:before, *:after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
