$font-main: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-head: helvetica, sans-serif !default;
$font-mono: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$font-serif: serif !default;
$font-size: 14px !default;
