$color-background   : #ffffff;
$color-text         : #000000;
$color-border-dark  : #b1b1b1;
$color-border-light : #e9e9e9;

$color-red          : #d54343;
$color-blue         : #14a2ff;
$color-green        : #3ac748;
$color-yellow       : #fabc40;
