@import "~highlight.js/styles/atom-one-light";

.CodeMirror {
  &-cursor {
    border-left-color: $color-text;
  }

  &-activeline-background {
    background-color: $color-border-light;
  }
}

hr {
  background-color: $color-border-light;
}

abbr {
  border-bottom-color: $color-border-light;
}

.cm-header {
  color: $color-green;
}

.cm-url {
  color: $color-blue;
}

.cm-em,
.cm-strong {
  color: $color-red;
}

p,
.cm-hr,
.cm-link,
.cm-quote,
.cm-image,
.cm-comment {
  color: $color-text;
}

.cm-quote::before {
  background-color: $color-text;
}

.cm-variable-2 {
  color: $color-text;
}

.cm-property {
  color: $color-yellow;
}
