.is-light {
    @import "./colors";
    @import "./syntax";

    @import "./vendor/codeMirror";

    @import "./components/qilin/button",
            "./components/qilin/popup",
            "./components/markdown/formula",
            "./components/markdown/embed",
            "./components/markdown/todo",
            "./components/markdown/typo",
            "./components/app",
            "./components/controls",
            "./components/editor-formula",
            "./components/editor-preview";

    .qilin-panel {
        background-color: $color-background;
        border-color: $color-border-light;
        color: $color-text;
    }
}
