.is-light {
  @import "./colors";
  @import "./syntax";
  @import "./vendor/codeMirror";
  @import "./components/qilin/button";
  @import "./components/qilin/popup";
  @import "./components/markdown/formula";
  @import "./components/markdown/embed";
  @import "./components/markdown/todo";
  @import "./components/markdown/typo";
  @import "./components/app";
  @import "./components/controls";
  @import "./components/editor-formula";
  @import "./components/editor-preview";

  .qilin-panel {
    background-color: $color-background;
    border-color: $color-border-light;
    color: $color-text;
  }
}
