.qilin-popup {
  &-header {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: $color-border-light;
  }

  &-content {
    background-color: $color-background;
  }

  &-tabs {
    background-color: lighten($color-border-light, 5%);

    &-list {
      border-width: 0 0 1px;
      border-style: solid;
      border-color: $color-border-light;

      &-item {
        font-size: 0.85rem;
        border-radius: 3px 3px 0 0;
        border-width: 1px 1px 0;
        border-style: solid;
        border-color: transparent;

        &[aria-selected=true] {
          border-color: $color-border-light;
          background-color: $color-background;
        }
      }
    }
  }
}

&.is-linux,
&.is-darwin {
  .qilin-popup {
    border-radius: 4px;
    border-width: 0;
    filter: drop-shadow(0 10px 10px rgba(black, 0.35)) drop-shadow(0 0 1px rgba(black, 0.25));
  }
}

&.is-windows {
  .qilin-popup {
    border-radius: 0;
    border-width: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
}
