.contains-task-list {
    list-style: none;

    margin: 0 0 1rem;
    padding: 0;

    .task-list-item {
        line-height: 30px;

        &-checkbox {
            -webkit-appearance: none;

            position: relative;
            vertical-align: middle;

            width: 20px;
            height: 20px;

            &:after {
                line-height: 15px;
                text-align: center;

                font-size: 20px;
                font-weight: 900;
            }

            &:not([checked]):after {
                content: "×";
                color: $color-red;
            }

            &[checked]:after {
                content: "✓";
                color: $color-green;
            }
        }
    }
}
