$color-background   : #101010;
$color-text-light   : #d0d0d0;
$color-text-dark    : #727272;
$color-border-dark  : darken($color-background, 2%);
$color-border-light : #161618;

$color-red          : #d54343;
$color-blue         : #14a2ff;
$color-green        : #3ac748;
$color-yellow       : #fabc40;
