@import "~highlight.js/styles/atom-one-dark";

.CodeMirror {
  &-cursor {
    border-left-color: $color-text;
  }

  &-activeline-background {
    background-color: $color-border-light;
  }

  &-overlayscroll-vertical div {
    background-color: $color-border-light;
  }
}

hr {
  background-color: $color-text;
}

abbr {
  border-bottom-color: $color-text;
}

.cm-header {
  color: rgba($color-green, 0.5);
}

.cm-url {
  color: rgba($color-blue, 0.5);
}

.cm-em,
.cm-strong {
  color: rgba($color-red, 0.5);
}

p,
.cm-hr,
.cm-link,
.cm-quote,
.cm-image,
.cm-comment {
  color: $color-text;
}

.cm-quote::before {
  background-color: $color-text;
}

.cm-variable-2 {
  color: $color-text;
}

.cm-property {
  color: rgba($color-yellow, 0.75);
}
