.qilin-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    cursor: pointer;

    overflow-x: hidden;
    overflow-y: hidden;

    -webkit-appearance: none;
    -webkit-app-region: no-drag;

    transition: all 100ms ease;

    &.is-big {
        padding: .5rem 1rem;
    }

    &-icon {
        height: 15px;
        width: auto;

        transition: all 100ms ease;
    }
}
