.qilin-button {
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    border: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -webkit-app-region: no-drag;

    &, & > * {
        transition: all 100ms ease;
    }

    &-icon {
        height: 15px;
        width: auto;
    }
}
