.react-draggable {
    position: relative;

    // Fix position:
    z-index: 10;
}

.qilin-popup {
    display: none;
    position: fixed;

    // Center by default:
    left: 50%;
    transform: translate(-50%, 7.5%);

    width: 500px;

    &.is-open {
        display: block;
    }

    &-header {
        position: relative;

        height: 50px;
        width: 100%;

        cursor: -webkit-grab;

        & {
            display: flex;

            align-items: center;
            justify-content: center;
        }

        &-close,
        &-done {
            position: absolute;
            top: 2px;

            cursor: pointer;
        }

        &-close {
            left: 0;
        }

        &-done {
            right: 0;
        }
    }

    &-content {
        display: none;

        height: 300px;
        width: 100%;

        overflow-y: auto;
        overflow-x: hidden;

        &.react-tabs__tab-panel--selected {
            display: block;
        }
    }

    &-tabs {
        margin: .25rem 0 0 0;

        &-list {
            margin: 0 0 .5rem;
            padding: 0;

            &-item {
                display: inline-block;
                position: relative;
                bottom: -1px;

                padding: .35rem .75rem;
                margin: 0 7px;

                outline: none;
                list-style: none;

                cursor: pointer;
            }
        }
    }
}
