.qilin-popup {
    display: flex;
    flex-direction: column;

    width: inherit;
    height: inherit;

    &-header {
        display: flex;

        align-items: center;
        justify-content: center;

        cursor: -webkit-grab;

        &-close, &-done {
            position: absolute;
        }

        &-close { left: 0; }
        &-done  { right: 0; }
    }

    &-content,
    &-tabs {
        overflow-y: auto;
        overflow-x: hidden;
    }

    &-content {
        display: none;

        &.react-tabs__tab-panel--selected {
            display: block;
        }
    }

    &-tabs {
        display: flex;

        flex-direction: column;
        flex: 1;

        &-list {
            &-item {
                display: inline-block;
                position: relative;

                outline: none;
                list-style: none;

                cursor: pointer;
            }
        }
    }
}
