.qilin-popup {
    display: none;

    flex-direction: column;

    width: inherit;
    height: inherit;

    &.is-open {
        display: flex;
    }

    &-header {
        display: flex;

        align-items: center;
        justify-content: center;

        flex-basis: 50px;
        height: 50px;
        width: 100%;

        cursor: -webkit-grab;

        &-close,
        &-done {
            position: absolute;
            top: 2px;

            cursor: pointer;
        }

        &-close { left: 0; }
        &-done  { right: 0; }
    }

    &-content,
    &-tabs {
        overflow-y: auto;
        overflow-x: hidden;
    }

    &-content {
        display: none;

        &.react-tabs__tab-panel--selected {
            display: block;
        }
    }

    &-tabs {
        display: flex;

        flex-direction: column;
        flex: 1;

        padding: .25rem 0 0 0;

        &-list {
            &-item {
                display: inline-block;
                position: relative;
                bottom: -1px;

                padding: .35rem .75rem;
                margin: 0 7px;

                outline: none;
                list-style: none;

                cursor: pointer;
            }
        }
    }
}
