// main : ../../template.scss

@font-face {
    font-family: "Source Sans Pro";
    src: url('../../fonts/SourceSansPro.woff') format('woff'),
    url('../../fonts/SourceSansPro.ttf') format('truetype');
}

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;

    overflow-x: hidden;
    overflow-y: hidden;

    text-rendering: geometricPrecision;

    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
}

*, *:before, *:after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
