// main : ./index.scss

$color-background   : #ffffff;
$color-text         : #404040;
$color-border-dark  : #b9b9b9;
$color-border-light : #eeeeee;

$color-red          : #d54343;
$color-blue         : #14a2ff;
$color-green        : #3ac748;
$color-yellow       : #fabc40;
