// main : ./index.scss

@import "./colors";

.CodeMirror-cursor {
    border-left-color: black;
}

.CodeMirror-activeline-background {
    background-color: $color-border-light;
}

.cm-searching {
    color: rgba(white, .5) !important;
}

.cm-searching {
    background-color: $color-yellow;
    border-radius: 3px;
}

.cm-header {
    color: $color-green;
}

.cm-url {
    color: $color-blue;
}

.cm-em,
.cm-strong {
    color: $color-red;
}

.cm-hr,
.cm-link,
.cm-quote,
.cm-image,
.cm-comment {
    color: $color-text;
}

.cm-quote:before {
    background-color: $color-text;
}

.cm-variable-2 {
    color: $color-text;
}

.cm-property {
    color: $color-yellow;
}
